body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f4f4f4;
}

header {
    background-color: rgba(61, 221, 88, 0.8);
    position: relative; 
   
}

.contenedor-logo {
    flex-grow: 1;
    text-align: center;
}

.contenedor-logo img {
    max-width: 100%;
    height: auto;
    max-height: 80px;
}

nav {
    background-color: rgba(70, 235, 106, 0.8);
    color: #3add58;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-desplegable {
    position: relative;
    z-index: 1;
  }
  #imgFiltro{
    width: 40px;
    margin-right: 5px;
  }
  #boton-desplegable {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  #contenido-desplegable {
    max-width: 400px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 4px;
  }
  
  #contenido-desplegable label {
    display: block;
    margin-bottom: 10px;
    
  }
  #contenido-desplegable input[type="radio"] {
    margin-right: 5px;
  }
#botonBorrar{
    padding: 8px;
    
    font-size: 16px;
    border: none;
    background-color: rgba(229, 95, 54, 0.7);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
#botonAplicar{
    padding: 8px;
    margin-left: 5px;
    font-size: 16px;
    border: none;
    background-color: rgba(234, 220, 29, 0.7);
    color: #fff;
    border-radius: 10px;
    cursor: pointer; 
}
.select-container {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
}

label {
    display: block;
    background-color: rgba(29, 136, 29, 0.7);
    color: #fff;
    padding: 8px;
    border-radius: 10px ;
}

select {
    margin-left: 2px;
    padding: 8px;
    font-size: 16px;
    border: none;
    background-color: rgba(38, 177, 38, 0.7);
    color: #fff;
    width:60px;
    border-radius: 10px;
}
#barraBusqueda {
    padding: 8px;
    font-size: 16px;
    border: none;
    background-color: rgba(38, 177, 38, 0.7);
    color: #fff;
    border-radius: 10px;
    margin-left: 10px; /* Ajusta según sea necesario */
}

#buscar {
    padding: 8px;
    margin-left: 5px;
    font-size: 16px;
    border: none;
    background-color: rgba(38, 177, 38, 0.7);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}



main {
    background-color: #dae7f0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(61, 221, 88, 0.8);
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#resultados-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    margin-top: 20px;
    margin-left:10px;
    margin-right: 10px;
    margin-bottom: 100px; 
}

.personaje {
    width: calc(25% - 20px);
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.personaje:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.personaje img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.info-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    margin: 0;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s;
}

.personaje:hover .info-container {
    opacity: 1;
    transition: opacity 0.3s;
}

.info-container p {
    margin: 0;
    padding: 10px;
}

.estado-circulo {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}

#genero{
display: flex;
}
#estado{
display: flex;
}